@model  IEnumerable<Online_Insurance.Entity.User>
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>Display</h2>
<table border="1">
    <tr>
        <td>customerId</td>
        <td>customerName</td>
        <td>gender</td>
        <td>age</td>
        <td>Address</td>
        <td>phoneNumber</td>
        <td>dateOfBirth</td>
        <td>mailId</td>
        <td>password</td>
        <td>annualIncome</td>

    </tr>
    @foreach (Online_Insurance.Entity.User items in (IEnumerable<Online_Insurance.Entity.User>)ViewData["user"])
    {
        <tr>
            <td>@items.customerId</td>
            <td>@items.customerName</td>
            <td>@items.gender</td>
            <td>@items.age</td>
            <td>@items.Address</td>
            <td>@items.phoneNumber</td>
            <td>@items.dateOfBirth</td>
            <td>@items.mailId</td>
            <td>@items.password</td>
            <td>@items.annualIncome</td>
        </tr>
    }
</table>